<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QLS.Properties.Settings.QLNSConnectionString" connectionString="Data Source=LAPTOP-EII1N1V5\SQLEXPR;Initial Catalog=QLNS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <QLS.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=LAPTOP-EII1N1V5\SQLEXPR;Initial Catalog=QLNS;Integrated Security=True</value>
            </setting>
        </QLS.Properties.Settings>
    </applicationSettings>
</configuration>